<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMv5_g6Zv8bHofnGi3IDH9VU2-Fan6TKc</string>
	<key>GCM_SENDER_ID</key>
	<string>468162941654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>africa.raines</string>
	<key>PROJECT_ID</key>
	<string>raines-africa-eb63a</string>
	<key>STORAGE_BUCKET</key>
	<string>raines-africa-eb63a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468162941654:ios:5837bb4a653e42dd596f77</string>
</dict>
</plist>